@using MvcTest.Models
@model User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
@{ 
    string user = "";
    string manager = "";
    string admin = "";
    string support = "";
    if (Model.UserRole.Role == "Manager")
    {
        manager = "checked";
    }
    else if(Model.UserRole.Role == "Admin")
    {
        admin = "checked";
    }
    else if(Model.UserRole.Role == "Support"){
        support = "checked";
    }
    else
    {
        user = "checked";
    }
}


<div id="renderBody">
    <input type="hidden" id="Page" name="Page" value="UserRole" />
    UserRole
    <div style="padding-top:15px">
        <div class="radioButtonDiv">
            @Html.RadioButtonFor(x => x.UserRole.Role, "User", new { Name = "radioGroup", user })
            <label class="radioButtonLabel" for="radio-1">User</label>
        </div>
        <div class="radioButtonDiv">
            @Html.RadioButtonFor(x => x.UserRole.Role, "Manager", new { Name = "radioGroup", manager })
            <label class="radioButtonLabel" for="radio-2">Manager</label>
        </div>
        <div class="radioButtonDiv">
            @Html.RadioButtonFor(x => x.UserRole.Role, "Admin", new { Name = "radioGroup", admin })
            <label class="radioButtonLabel" for="radio-3">Admin</label>
        </div>
        <div class="radioButtonDiv">
            @Html.RadioButtonFor(x => x.UserRole.Role, "Support", new { Name = "radioGroup", support })
            <label class="radioButtonLabel" for="radio-3">Support</label>
        </div>
    </div>
</div>
<script>
    $("input[name=radioGroup]").on("change", function()
        {       
        var data = new Object();
        data.id = @Model.Id; 
        data.role = $('input[name=radioGroup]:checked').val();
        $.ajax({
                type: "POST",
                url: "/Home/UserRoleChanging",
                data: data,               
                success: function (response) {
                 console.log('succes ajax-UserRoleChanging');
                },               
                error: function (jqXHR, exception) { AjaxError(jqXHR, exception); }
            });        
    });

    $(document).ready(function () {
        page = 'UserRole';
        document.getElementById("profileTab").style.borderBottom = "";
        document.getElementById("userRoleTab").style.borderBottom = "white 2px solid";
        document.getElementById("settingsTab").style.borderBottom = "";
        var id = "userlist" +@Model.Id;
        document.getElementById(id).className = "active";
    });

     function focusOut() {
        var flag = true;
        var name = document.getElementById('Name').value;
        var email = document.getElementById('Email').value;
        var skype = document.getElementById('Skype').value;
        var signature = document.getElementById('Signature').value;
        var re = new RegExp(/^[a-z ,.'-]+$/i);
        if (re.test(name) && name.length > 0) {
            document.getElementById('namespan').style.visibility = "hidden";
        }
        else {
            console.log(name.length);
            console.log(re.test(name));
             console.log(name);
            document.getElementById('namespan').style.visibility = "visible";
            flag = false;
        }
        @{
            string pattern = @"/\S+@\S+\.\S+/";
        }

         var reemail = new RegExp(@pattern);
        if (reemail.test(email) && email.length>0) {
             document.getElementById('emailspan').style.visibility = "hidden";
        }
        else {
            document.getElementById('emailspan').style.visibility = "visible";
            flag = false;
        }
        if (flag) {
            var data = { id:@Model.Id,name: name, email: email, skype: skype, signature: signature };          
       $.ajax({
           type: "POST",
           url: "/Home/RefreshSettings",
           data: JSON.stringify(data),
           contentType: "application/json; charset=utf-8",  
           processData: false,  
            dataType: "json",
           success: function (data) {              
               filtering();
           },
            error: function (jqXHR, exception) {AjaxError(jqXHR, exception);}
       });

        }

    }
</script>